html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: table;
    width: 100%;
}

footer
{
    margin-top: 40px;
    background: #F8F8F8;
    height: 100px;
    bottom: 0;
    width: 100%;
    display: table-row;
}

img#logoFFT{
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

p{
    text-align: justify;
    text-justify: inter-word;
}

table {
    display: block;
    margin: auto;
    border: thin solid Black;
    width: 100%;
}

td, th {
    padding-top: 5px;
    padding-bottom: 5px;
    border: thin solid Gray;
    width: 12.5%;
    text-align: center;
}